.alert-container {
  position: relative;
  display: block;
  @include alert-style($primary, $white);
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $alert-margin-bottom;
  border-radius: $alert-border-radius;
  font-size: $alert-font-size;
  transition: $alert-transition;
}

.alert-close-btn {
  position: absolute;
  top: $alert-close-btn-top;
  right: $alert-close-btn-right;
  cursor: pointer;
}

.alert-success {
  @include alert-style($success, $white);
}
.alert-danger {
  @include alert-style($danger, $white);
}
.alert-warning {
  @include alert-style($warning, $white);
}
